* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mosh {
    background: #2A5D5A;

    width: 1440px;
    height: 1024px;
    padding: 10px;
}

.ota {
    width: 1000px;
    height: 638px;
    border: 10px;
    background: #000000;
    border: 10px solid #FF0606;
    margin: 30px auto;
}

h1 {
    background-color: #000000;
    color: white;
    width: 400px;
    height: 90px;
    text-align: center;
    margin: 0 auto;
    font-size: 45px;
    color: white;
}

.box {
    width: 896px;
    height: 259px;
    background-color: rgb(39, 212, 155);
    margin: 0 auto;
    margin: 40px;
    text-align: center;
    font-size: 30px;
    padding: 10px;
    border: 3px solid rgb(30, 189, 233); 
}
